html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: lightcoral;
    width: 100%;
    height: 50px;
}

h1 {
    color: white;
}

.reeve {
    color: black;
}

.outer {
    width: 200px;
    height: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 100px;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click {
    color: white;
}

.click:hover {
    transform: scale(1.1);
}