#root {
    
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: antiquewhite;
  }

  .btn-details {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }